[submodule "FIT2095-Test"]
	path = FIT2095-Test
	url = https://github.com/Benehiko/FIT2095-Test
[submodule "Lab1"]
	path = Lab1
	url = https://github.com/Benehiko/FIT2095-Lab1.git
[submodule "Lab2"]
	path = Lab2
	url = git@github.com:Benehiko/FIT2095-Lab2.git
[submodule "Lab3"]
	path = Lab3
	url = git@github.com:Benehiko/FIT2095-Lab3.git
[submodule "Lab4"]
	path = Lab4
	url = git@github.com:Benehiko/FIT2095-Lab4.git
[submodule "Lab5"]
	path = Lab5
	url = git@github.com:Benehiko/FIT2095-Lab5.git
[submodule "Lab6"]
	path = Lab6
	url = git@github.com:Benehiko/FIT2095-Lab6.git
[submodule "Lab7"]
	path = Lab7
	url = git@github.com:Benehiko/FIT2095-Lab7.git
